---
import Episode from "../../components/Episode/id";
import Characters from "../../components/Characters/id";
import NavbarContent from "../../content/NavbarContent";
// Limito la cantidad de Paths a buscar
export async function getStaticPaths() {
  // Llamo a la API para ver el objeto
  const response = await fetch('https://rickandmortyapi.com/api/episode');
  // Transformo en JSON para poder recorrelo
  const data = await response.json();
  // Leo toda la API y la guardo por los resultados
  const dataResults = data.results;
  // Guardo en una variable todos los ids 
  const paths = dataResults.map((episode: any) => ({ params: { id: episode.id.toString() } }));
  // Agrego uno en el caso de que sea undefined
  return [...paths,{ params: { path: undefined } }];
}

const { id } = Astro.params;

const characterById =  async (id:any) => {
    const response = await fetch(`https://rickandmortyapi.com/api/character/${id}`);
    const data = await response.json();
   return data
}
const apiFetch =  async (url:any) => {
    const response = await fetch(url);
    const data = await response.json();
   return data
}
const characterAll =  async () => {
    const response = await fetch(`https://rickandmortyapi.com/api/character/`);
    const data = await response.json();
    return data
}

---
<NavbarContent client:only="react" />
<div>
  {id == undefined ? (
    // remove the div with class 'flex flex-col lg:flex-row lg:flex-wrap lg:justify-center'
    // since it's duplicated below and causes a syntax error
    await characterAll().then(data => {
      return (
        <div class="flex flex-col lg:flex-row lg:flex-wrap lg:justify-center">
          {data.results.map((chracter:any) => {
            return (
            <div class="bg-white shadow-md rounded-md mx-4 my-8 lg:w-1/4">
                <Characters values={chracter} /> 
                <div class="p-4">
                  <h2 class="text-xl font-semibold mb-4">Episode:</h2>
                  <div class="flex flex-wrap justify-center">
                    {chracter.episode.map(async (singleEpisode:any) => {
                      const episodeData = await apiFetch(singleEpisode);
                      return (
                        <div class="w-1/2 p-2">
                          <Episode values={episodeData} client:load />
                        </div>
                      )
                    })}
                  </div>
                </div>   
            </div>
            )
          })}
        </div>
      )
    }).catch(err => console.error(err))
  ) : (
  <div>
    {await characterById(id).then( data =>{
return(
<div class="bg-gray-200 overflow-x-hidden">
  <div class="bg-white shadow-md rounded-md w-screen">
    <Characters values={data} />
    <div class="p-4">
      <h2 class="text-xl font-semibold mb-4">Episode:</h2>
      <div class="flex flex-wrap justify-center">
        {data.episode.map(async (singelEpisode:any) => {
          const episodeData = await apiFetch(singelEpisode);
          return (
            <div class="lg:w-1/4 md:w-1/2 w-full p-3">
              <Episode values={episodeData} />
            </div>
          )
        })}
      </div>
    </div>
  </div>
</div>


)
}
).catch(err => console.error(err))}  
  </div>
)}
</div>